$ratio: 1.4848484848;
$width: 462px;
$height: $width * $ratio;

$line: ceil($height / 23);

$inner-margin: 2.25rem;
$outer-margin: 2rem;

$paper-color: #f1f0eb;
$blue-ballpoint: #1b339c;
$black-ballpoint: #223066de;

body {
  overflow-y: scroll;
}

.ballpoint-pen {
  font-size: 19px;
  color: $black-ballpoint;
  line-height: $line;
}

#notebook {
  width: $width * 2;
  height: $height;

  counter-reset: page_num;

  position: relative;

  perspective: 50cm;
  transform-style: preserve-3d;
  transform: rotate3d(1, 0, 0, 0.1deg); // 3d accelerated rendering!

  .page:not(#cover) {
    // display: none;
    visibility: hidden;
  }
}

canvas {
  background: white;
}

.page {
  position: absolute;

  cursor: pointer;

  height: $height;
  width: $width;
  top: 0;

  // not cover
  &:nth-child(n + 3) {
    // lines
    &:before {
      content: "";
      position: absolute;
      left: 1.75rem;
      right: 1.75rem;
      top: $line;
      bottom: $line * 3/2;

      background-image: repeating-linear-gradient(
        0deg,
        #b6b6b6a6,
        transparent 2px,
        transparent $line
      );
    }

    // page numbering
    counter-increment: page_num;
    &:after {
      position: absolute;
      content: counter(page_num);
      top: 0.5 * $line;
      @extend .ballpoint-pen;
      color: $blue-ballpoint;
    }
    &:nth-child(odd):after {
      right: $outer-margin;
    }
    &:nth-child(even):after {
      left: $outer-margin;
    }
    // &:nth-child(3):after {
    //   visibility: hidden;
    // }
  }

  &:nth-child(odd) {
    &,
    canvas {
      border-radius: 0.75rem;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    transform-origin: top left;
    left: 50%;

    background-image: linear-gradient(
      to left,
      #f1f0eb,
      #f1f0eb 80%,
      #e7e6e0 100%
    );
  }
  &:nth-child(even) {
    border-radius: 0.75rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    transform-origin: top right;
    right: 50%;
    border-right: 1px solid #d5d5d5;

    background-image: linear-gradient(
      to right,
      #f1f0eb,
      #f1f0eb 60%,
      #dbdad1 100%
    );
  }
  &:nth-child(2) {
    background-color: white;
    background-image: linear-gradient(
      to right,
      #fff,
      #f0f0f0 80%,
      #e5e5e5 100%
    );
  }
  &:nth-child(n + 3) {
    background-color: $paper-color;
  }
}

.page-text-box {
  position: absolute;
  @at-root :nth-child(odd) & {
    left: $inner-margin;
    right: $outer-margin;
  }
  @at-root :nth-child(even) & {
    left: $outer-margin;
    right: $inner-margin;
  }
  top: 1.6 * $line;
  bottom: 4/3 * $line;

  overflow: hidden;

  p,
  h1,
  h2 {
    @extend .ballpoint-pen;
    mix-blend-mode: multiply;
  }

  .theme {
    color: $blue-ballpoint;
    margin: 0 0 $line 0;
    text-align: center;
    text-transform: uppercase;
  }

  p.epigraph {
    margin: 2 * $line 0 3 * $line 33%;
    color: $blue-ballpoint;
  }
  h1 {
    color: $blue-ballpoint;
    font-weight: bold;
    span.title {
      background: linear-gradient(
          104deg,
          rgba(130, 255, 173, 0) 0.9%,
          rgba(130, 255, 173, 1.25) 2.4%,
          rgba(130, 255, 173, 0.5) 5.8%,
          rgba(130, 255, 173, 0.1) 93%,
          rgba(130, 255, 173, 0.7) 96%,
          rgba(130, 255, 1732, 0) 98%
        ),
        linear-gradient(
          183deg,
          rgba(130, 255, 173, 0) 0%,
          rgba(130, 255, 173, 0.3) 7.9%,
          rgba(130, 255, 173, 0) 15%
        );
      padding: 0.6em 13.7px;
      -webkit-box-decoration-break: clone;
      margin: 0;
      border-radius: 7.5px;
      text-shadow: -12px 12px 9.8px rgba(130, 255, 173, 0.7),
        21px -18.1px 7.3px rgba(255, 255, 255, 1),
        -18.1px -27.3px 30px rgba(255, 255, 255, 1);
    }
    span.authorship {
      font-weight: normal;
      color: $black-ballpoint;
    }
  }
  p:not(.epigraph) + p:not(.epigraph) {
    text-indent: 2ch;
  }
}
