$ratio: 1.4848484848;
$width: 462px;
$height: $width * $ratio;

$line: ceil($height / 23);

$inner-margin: 2.5rem;
$outer-margin: 1.75rem;

$paper-color: #f1f0eb;

body {
  overflow-y: scroll;
}

.ballpoint-pen {
  font-size: 19px;
  color: #25408f;
  line-height: $line;
}

#notebook {
  width: $width * 2;
  height: $height;

  counter-reset: page_num;

  position: relative;

  perspective: 50cm;
  transform-style: preserve-3d;
  transform: rotate3d(1, 0, 0, 0.1deg); // 3d accelerated rendering!

  .page:not(#cover) {
    // display: none;
    visibility: hidden;
  }
}

canvas {
  background: white;
}

.page {
  position: absolute;

  cursor: pointer;

  height: $height;
  width: $width;
  top: 0;

  // not cover
  &:nth-child(n + 3) {
    // lines
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: $line;
      bottom: $line * 3/2;

      background-image: repeating-linear-gradient(
        0deg,
        #b6b6b680,
        transparent 2px,
        transparent $line
      );
    }

    // page numbering
    counter-increment: page_num;
    &:after {
      position: absolute;
      content: counter(page_num);
      top: 0.5 * $line;
      @extend .ballpoint-pen;
    }
    &:nth-child(odd):after {
      right: $outer-margin;
    }
    &:nth-child(even):after {
      left: $outer-margin;
    }
  }

  &:nth-child(odd) {
    &,
    canvas {
      border-radius: 0.75rem;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    transform-origin: top left;
    left: 50%;

    background-image: linear-gradient(
      to left,
      #f1f0eb,
      #f1f0eb 80%,
      #e7e6e0 100%
    );
  }
  &:nth-child(even) {
    border-radius: 0.75rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    transform-origin: top right;
    right: 50%;
    border-right: 1px solid #d5d5d5;

    background-image: linear-gradient(
      to right,
      #f1f0eb,
      #f1f0eb 60%,
      #dbdad1 100%
    );
  }
  &:nth-child(2) {
    background-color: white;
    background-image: linear-gradient(
      to right,
      #fff,
      #f0f0f0 80%,
      #e5e5e5 100%
    );
  }
  &:nth-child(n + 3) {
    background-color: $paper-color;
  }
}

.page-text-box {
  position: absolute;
  @at-root :nth-child(odd) & {
    left: $inner-margin;
    right: $outer-margin;
  }
  @at-root :nth-child(even) & {
    left: $outer-margin;
    right: $inner-margin;
  }
  top: 1.6 * $line;
  bottom: 4/3 * $line;

  overflow: hidden;

  p {
    @extend .ballpoint-pen;
    mix-blend-mode: multiply;
    & + p {
      text-indent: 1ch;
    }
  }
}
