$ratio: 1.4848484848;
$width: 462px;
$height: $width * $ratio;

$line: ceil($height / 23);

$inner-margin: 2.25rem;
$outer-margin: 2rem;

$paper-color: #fcf7e4;
$inner-cover-color: #6d6d6d;
$blue-ballpoint: #1b339c;
$black-ballpoint: #223066de;

body {
  overflow-y: scroll;
}

$green-marker-pen: #82ffad;
$blue-marker-pen: #a0eff5;
$pink-marker-pen: #fdb3e1;
$yellow-marker-pen: #ffef97;

@mixin marker($marker-pen) {
  background: linear-gradient(
      104deg,
      transparentize($marker-pen, 1 - 0) 0.9%,
      transparentize($marker-pen, 1 - 1) 2.4%,
      transparentize($marker-pen, 1 - 0.5) 5.8%,
      transparentize($marker-pen, 1 - 0.1) 93%,
      transparentize($marker-pen, 1 - 0.7) 96%,
      transparentize($marker-pen, 1 - 0) 98%
    ),
    linear-gradient(
      183deg,
      transparentize($marker-pen, 1 - 0) 0%,
      transparentize($marker-pen, 1 - 0.3) 7.9%,
      transparentize($marker-pen, 1 - 0) 15%
    );
  padding: 0.5em 5px 0.4em 15px;
  box-decoration-break: clone;
  margin: 0;
  border-radius: 2.5px;
  text-shadow: -2px 2px 9.8px transparentize($marker-pen, 1 - 0.7),
    11px -8.1px 7.3px #fff, -7.1px -17.3px 30px #fff;
}

.ballpoint-pen {
  font-size: 19px;
  color: $black-ballpoint;
  line-height: $line;
}

#notebook {
  width: $width * 2;
  height: $height;

  counter-reset: page_num;

  position: relative;

  perspective: 50cm;
  transform-style: preserve-3d;
  transform: rotate3d(1, 0, 0, 0.1deg); // 3d accelerated rendering!

  .page:not(#cover) {
    // display: none;
    visibility: hidden;
  }
}

canvas {
  background: white;
}

.page {
  position: absolute;

  cursor: pointer;

  height: $height;
  width: $width;
  top: 0;

  // not cover
  &:nth-child(n + 3) {
    // lines
    &:before {
      content: "";
      position: absolute;
      left: 1.75rem;
      right: 1.75rem;
      top: $line;
      bottom: $line * 3/2;

      mix-blend-mode: multiply;

      background-image: repeating-linear-gradient(
        0deg,
        #b6b6b6a6,
        transparent 2px,
        transparent $line
      );
    }

    // page numbering
    counter-increment: page_num;
    &:after {
      position: absolute;
      content: counter(page_num);
      top: 0.5 * $line;
      @extend .ballpoint-pen;
      color: $blue-ballpoint;
    }
    &:nth-child(odd):after {
      right: $outer-margin;
    }
    &:nth-child(even):after {
      left: $outer-margin;
    }
    // &:nth-child(3):after {
    //   visibility: hidden;
    // }
  }

  &:nth-child(odd) {
    &,
    canvas {
      border-radius: 0.75rem;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    transform-origin: top left;
    left: 50%;

    background-image: linear-gradient(
      to left,
      $paper-color,
      $paper-color 80%,
      scale-color($paper-color, $lightness: -4%, $saturation: -8) 100%
    );
  }
  &:nth-child(even) {
    border-radius: 0.75rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    transform-origin: top right;
    right: 50%;
    border-right: 1px solid
      scale-color($paper-color, $lightness: -20%, $saturation: -30%);

    background-image: linear-gradient(
      to right,
      $paper-color,
      $paper-color 60%,
      scale-color($paper-color, $lightness: -8%, $saturation: -15%) 95%,
      scale-color($paper-color, $lightness: -12%, $saturation: -20%) 100%
    );
  }
  &:nth-child(2) {
    background-color: $inner-cover-color;
    background-image: linear-gradient(
      to right,
      $inner-cover-color,
      scale-color($inner-cover-color, $lightness: 2%) 60%,
      scale-color($inner-cover-color, $lightness: -10%) 100%
    );
  }
  &:nth-child(n + 3) {
    background-color: $paper-color;
  }
}

.page-text-box {
  position: absolute;
  mix-blend-mode: multiply;
  @at-root :nth-child(odd) & {
    left: $inner-margin;
    right: $outer-margin;
  }
  @at-root :nth-child(even) & {
    left: $outer-margin;
    right: $inner-margin;
  }
  top: 1.6 * $line;
  bottom: 4/3 * $line;

  overflow: hidden;

  p,
  h1,
  h2 {
    @extend .ballpoint-pen;
  }

  .theme {
    color: $blue-ballpoint;
    padding: 0 0 $line 0;
    text-align: center;
    font-weight: bold;
  }

  p.epigraph {
    color: $black-ballpoint;
    .epigraph-author {
      display: block;
      text-align: right;
      &:before {
        content: "— ";
      }
    }
    &:before {
      position: relative;
      top: -1/3 * $line;
      content: "* * *";
      display: block;
      text-align: center;
      padding: $line 0;
    }
  }
  h1 {
    padding: $line 0;
    color: $blue-ballpoint;
    font-weight: bold;
    text-align: center;
    span.title {
      @include marker($pink-marker-pen);
    }
    span.authorship {
      font-weight: normal;
      display: block;
    }
  }
  p:not(.epigraph) + p:not(.epigraph) {
    text-indent: 2ch;
  }
}
