@font-face {
  font-family: "Supermarker";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/SupermarkerTrial-Regular.woff2") format("woff2"),
    url("../fonts/SupermarkerTrial-Regular.woff") format("woff");
}
