@import "./reset.scss";
@import "./supermarker.scss";
@import "./notebook.scss";

body {
  background: #ccc;
  padding: 2rem;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;

  font-family: "Supermarker", sans-serif;
}
